<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <PageTitle>404 - Страница не найдена</PageTitle>
            <div class="d-flex flex-column justify-content-center align-items-center vh-100">
                <h1 class="display-4">404 - Страница не найдена</h1>
                <img src="https://media.tenor.com/iPKa5SFvaKAAAAAj/touhou-cirno.gif" alt="Cirno GIF"
                    class="img-fluid mt-4" />
                <div class="mt-4">
                    <a href="/" class="btn btn-primary">Вернуться на главную</a>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>